@charset "utf-8";


/* font */
@font-face {
    font-family: 'NIXGONL-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NIXGONB-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONB-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* scroll */
.header{position:fixed;z-index:10;top:0;width:100%}
.header ul:after{content:"";display:block;clear:both}
.header ul li{float:left;border-left:1px solid rgba(255, 255, 255, 0);box-sizing:border-box;width:20%}
.header ul li:first-child{border-left:none}
.header ul li a{display:block;height:60px;text-align:center;line-height:60px;font-size:20px;text-decoration:none;background-color:#000;color:#fff}
.header ul li.on a{background-color:#fff;color:#000}
.content{}
.cnt{position:relative}
.cnt .container {position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);text-align:center;width:100%;}


/* common */
body {background: #ecf0f3;overflow-y:hidden;font-family: 'NIXGONM-Vb';line-height: 1.2em;}
button {cursor: pointer;font-family: 'NIXGONM-Vb';font-size: 18px;line-height: 1.2em;}
.clrfix:after {content: "";display: block;clear: both;}

/* main */
.content {text-align: center;font-family: 'NIXGONM-Vb';font-size: 18px;line-height: 1.2em;}
.content .cnt01 h1 {font-size: 30px;font-family: 'NIXGONM-Vb';margin-top: 30px;}


/* profile */
.cnt02 .profile_bg {background: url(../img/profile_bg.png) no-repeat;width: 1200px;height: 700px;margin: auto;}
.cnt02 .profile1 {float: left;text-align: center;padding: 120px 0 0 60px;}
.cnt02 .profile1 img {display: inline-block;margin-bottom: 20px;margin-right: 20px;}
.cnt02 .profile1 dl {float: right;text-align: left;margin-top: 10px;}
.cnt02 .profile1 dt {font-family: 'NIXGONB-Vb';}
.cnt02 .profile1 dd {margin-bottom: 10px;}

.cnt02 .profile2 {float: right;padding: 120px 50px 0 0;}
.cnt02 .pro_txt {background: url(../img/profile_txt.png);width: 640px;height: 250px;text-align: left;}
.cnt02 .pro_txt h2 {padding: 23px 0 0 50px;margin-bottom: 20px;font-size: 20px;font-family: 'NIXGONB-Vb';}
.cnt02 .pro_txt ul {padding-left: 50px;line-height: 2em;}
.cnt02 .education {margin-bottom: 30px;}
.cnt02 .license {}
.cnt02 .skills {clear: both;margin-top: 25px;font-family: 'NIXGONB-Vb';}
.cnt02 .skills li {margin-bottom: 15px;height: 41px;}
.cnt02 .skills li p {display: block;width: 50px;height: 41px;float: left;margin: 10px 0 0 15px;}
.cnt02 .skills .skill_bar {display: block;background: url(../img/profile_skill.png);width: 286px;height: 36px;float: right;}
.cnt02 .skills .skill_bar .bar {display: block;width: 24px;height: 24px;background: #4370FF;border-radius: 12px;margin: 6px 0 0 11px;}


/* web */
.cnt03 {}
.cnt03 .container {width: 1200px}
.cnt03 .web_folder {float: left;margin: 60px 70px 0 0;}
.cnt03 .web_folder button {display: block;margin-bottom: 40px;line-height: 1.2em;font-size: 16px;}
.cnt03 .web_folder button img {margin-bottom: 15px;}
.cnt03 .web_folder button:last-child {margin-bottom: 0;}
.cnt03 .web_pc {float: left;background: url(../img/web_1.png);width: 773px;height: 577px;position: relative;}
.cnt03 .web_pc .btn_1 {position: absolute;top: 40px;left: 45px;font-size: 18px;}
.cnt03 .web_pc .btn_2 {position: absolute;top: 40px;left: 320px;font-size: 18px;}
.cnt03 .web_pc .btn_3 {position: absolute;top: 40px;left: 560px;font-size: 18px;}
.cnt03 .web_mo {float: right;background: url(../img/web_mo.png);width: 180px;height: 350px;margin-top: 140px;}


/* app */
.cnt04 {}
.cnt04 .app_wrap {background: url(../img/app_pad.png);width: 1000px;height: 650px;display: inline-block;position: relative;}
.cnt04 .app_wrap h2 {margin-top: 100px;font-size: 24px;font-family: 'NIXGONB-Vb';}
.cnt04 .app_wrap .app_btns {position: absolute;top: 180px;left: 320px;}
.cnt04 .app_wrap button img {margin-bottom: 10px;}

/* Graphic */
.cnt05 {background: pink;}

